.background {
    background-color: #EBC1D1;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
    display: flex;
    justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  padding: 20px;
  background-color: aliceblue;
}

.choose {
    font-weight: bolder;
    font-size: larger;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
  height: 200px
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  cursor: pointer;
}

.button-center {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.button:hover,
.button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button:active {
    opacity: .5;
}

#north {
    align-self: flex-start;
    margin-right: 30px;
}

#top {
    align-self: flex-start;
    margin: auto;
}
  
#east {
    margin-left: 50px;
}
  
#west {
    margin-right: 50px;
    align-self: flex-start;
}

#south {
    align-self: flex-end;
    margin-left: 5px;
}

#bottom {
    align-self: flex-end;
    margin: auto;
}

.button.hidden {
    opacity: 0;
    pointer-events: none;
}

.button-top {
    display: flex;
    flex-direction: row;
    width: 370px;
    justify-content: end;
}

.modal {
    display: none
  }

  .modal.open {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  }
  
  .modal-content {
    width: 100%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 9998;
    /* Other styles for the modal content */
  }

  .modal-item {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 15px;
  }

  .item-detail {
    cursor: pointer;
    font-weight: bold;
  }

  .item-detail:hover,
.item-detail:active {
    color: #FF4742;
}

.item-description {
    display: none;
}

.item-description.open {
    position: absolute;
    background-color: white;
    display: flex;
    z-index: 9999;
    pointer-events: none;
}

.item-description-content {
    position: relative;
    display: flex;
    z-index: 9999;
}
  
  
