.background {
    background-color: #EBC1D1;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  padding: 10px;
  background-color: aliceblue;
}

.choose {
    font-weight: bolder;
    font-size: larger;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  cursor: pointer;
}

.button-center {
    display: flex;
    flex-direction: row-reverse;
}


.button:hover,
.button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button:active {
    opacity: .5;
}

#north {
    align-self: flex-start;
}
  
#east {
    margin-left: 50px;
}
  
#west {
    margin-right: 50px;
}

#south {
    align-self: flex-end;
}
